<div class="fixed inset-0 flex items-center justify-center bg-[var(--color-primary-opacity)] mono">
    <div class="fixed left-10 top-10 p-4">
      <div class="text-2xl pb-0 md:text-3xl md:pb-2 text-[var(--color-secondary)]">About</div>
      <div class="md:text-xl text-[var(--color-text)]">I’m a third-year Computer Science student specializing in mobile
        and
        web development.
      </div>

      <div class="flex space-x-20">
        <ul class="pt-9 md:text-xl text-[var(--color-text)]">
          <li class="text-2xl pb-0 md:text-2xl md:pb-6 text-[var(--color-secondary)] list-none">Languages</li>
          <li>Java</li>
          <li>Swift</li>
          <li>PHP</li>
          <li>C#</li>
          <li>Typescript</li>
          <li>Javascript</li>
          <li>SQL</li>
          <li>Dart</li>
        </ul>
        <ul class="pt-9 md:text-xl text-[var(--color-text)]">
          <li class="text-xl pb-0 md:text-xl md:pb-6 text-[var(--color-secondary)]">Tools/Frameworks</li>
          <li>Laravel</li>
          <li>Angular</li>
          <li>Tailwind</li>
          <li>Flutter</li>
          <li>Unity</li>
          <li>Android Studio</li>
          <li>XCode</li>
          <li>Github</li>
          <li>Figma</li>
        </ul>
      </div>
    </div>
  </div>

<div (click)="closeModal()"
     class="fixed text-sm top-4 right-4 md:text-2xl md:top-10 md:right-10 text-[var(--color-text)] cursor-pointer">X
</div>
